@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

/* Definição do Ambiente */

* {
    margin: 0;
    padding: 0;
    font-family: 'Aclonica', sans-serif;
}

:root {
    /* Cores das Senhas */
    --cor01: #ff0000;
    --cor02: #00FF00;
    --cor03: #0000FF;
    --cor04: #00FFFF;
    --cor05: #FFFF00;
    --cor06: #ff00ff;
}

html {
    height: 100vh;
}

body {
    box-sizing: border-box;
    background: #CCC;
    margin: auto;
}

.main-screen-container {
    display: block;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    margin: 20px auto;
}

#game-container {
    display: flex;
    flex-direction: column;
    border: 2px inset #ddd;
}

h1 {
    margin: 2rem;
    padding: 1.25rem;
    color: var(--cor03);
    text-align: center;
}

#rules-container {
    margin: 10px auto;
    padding: 10px;
    color: var(--cor03);
    border: 2px inset #ddd;
}

#rules-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

#rules-container p {
    margin: 10px auto;
    text-align: justify;
}

#senha-oculta {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    border: 2px inset #ccc;
}


.bola {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    background: #000;
    border-radius: 50%;
    margin: 10px 10px;
}

#tentativas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px inset #ccc;
    margin: 15px auto;
}

#gerado, #tentado, #resultado{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border: 2px solid #ddd;
    padding: 10px;
    margin: 10px;
}

.btn {
    display: flex;
    border: 5px outset #ddd;
    padding: 10px;
}

#btnLimpar {
    background: red;
    margin: 10px auto;
    padding: 10px;
    border: 5px outset #ddd;
    cursor: pointer;
}

#bntLimpar:disabled {
    opacity: .4;
    cursor: default;
}

#btnVerificar {
    background: cyan;
    margin: 10px auto;
    padding: 10px;
    border: 5px outset #ddd;
    cursor: pointer;
}

#btnVerificar:disabled {
    opacity: .4;
    cursor: default;
}
.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.magenta {
    background-color: magenta;
}

